<%= react_component('components/Header')%>
<div className='homeCardContainer'>
 <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
<div class ="viceContainer">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="deviceForm">
   <h2>Log in</h2>
     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </div>
   <br>
   <div class="deviceForm">
     <%= f.label :password %><br />
     <%= f.password_field :password, autocomplete: "current-password" %>
   </div>
  <br>  
  <% if devise_mapping.rememberable? %>
    <div class="deviceForm">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="deviceForm" id='deviseButton'>
    <%= f.submit "Log in" %>
  </div>
<%= render "devise/shared/links" %>  
<% end %>
</div>
</div>
</div>